@using BookStoreApi.Models;

@model List<KeyValuePair<HostOrder,BuyerOrder>>

<a href="/list/host">ต้องซื้อ</a>
<div> 
    @foreach (var item in Model)
    {
        <fieldset>
            <p>name :@item.Key.OwnerName</p>
            <p># @item.Key.OwnerUserId</p>
            <p>contact @item.Key.OwnerContact</p>

            <p>menu : @item.Value.Menu</p>
            <p>location :@item.Key.Location</p>
            @if(!item.Value.BuyerChecked){
                <form action="/order/buyer/tick_on" method="post">
                    <input type="text" name="Id" value="@item.Value.Id" hidden>
                    <button type="submit">CONFIRM</button>
                </form>
            }
            else{
                <form action="/order/buyer/tick_off" method="post">
                    <input type="text" name="Id" value="@item.Value.Id" hidden>
                    <button type="submit">UNCONFIRM</button>
                </form>
            }
        </fieldset>
    }
</div>

<a href="/">
    <h1>home</h1>
</a>